body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/bg/wov.png");
}

.app {
  /* background: whitesmoke; */
  min-height: 100vh;
  text-align: center;
  padding-bottom: 40px;
}

h1 {
  margin: 0;
  padding: 40px 10px;
  color: rgba(165, 42, 42, 0.514);
  font-size: 3em;
  /* text-transform: uppercase; */
}

.discs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
